Source: graft-ng
Section: net
Priority: optional
Maintainer: Jason Rhinelander <jason@imaginary.ca>
Build-Depends: debhelper (>= 11), cmake, g++, libgraft-dev (>= 1.7.0), libpcre3-dev, rapidjson-dev, check, pkg-config
Standards-Version: 4.1.3
Homepage: https://github.com/graft-community/graft-ng

Package: graft-supernode
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: graftnoded
Suggests: graft-wallet
Description: GRAFT RTA supernode
 This package contains the `graft-supernode' binary that communicates with a
 graftnoded to host a GRAFT RTA supernode.
 .
 Note that the binary is instead called just `supernode` in the official
 package.
 .
 This package requires some configuration: in particular, you will need to copy
 /usr/share/doc/graft-supernode/config.ini into a local directory and modify it
 to suit your local configuration.
